# SQL Example in Jupyter Notebook

In [1]:
#import python libraries
#Python 2.7.12 Anaconda 
import pandas as pd
import csv
import sqlite3
import seaborn as sns
%matplotlib inline

/Users/tracesmith/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
conn= sqlite3.connect('chinook.db')
c = conn.cursor()

In [16]:
c.execute("SELECT * FROM Customers LIMIT 5")
#for row in c.fetchall():
    #print row

In [17]:
df_cust = pd.read_sql_query("SELECT * FROM Customers",conn)
df_cust.head(1)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3

In [14]:
df_albums = pd.read_sql_query("SELECT * FROM albums",conn)
df_albums.head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3